<% if user_signed_in? %>
  <%= form_with(model:[post,comment], local:true, class: "comment_area__form_box__form") do |form| %>
    <div class="comment_area__form_box__form__field">
      <%= form.text_area :comment, placeholder: "コメントを入力" %>
    </div>
    <div class="comment_area__form_box__form__action">
      <%= form.submit '送信', class: "comment_area__form_box__form__action__btn" %>
    </div>
  <% end %>
<% end %>
