<% if post.comments.present? %>
  <% comments.each do |comment| %>
    <li class="comment_area__list__comment">
      <div class="comment_area__list__comment__left_box">
        <span><%= comment.user.name %></span>
      </div>
      <div class="comment_area__list__comment__right_box">
        <div class="comment_area__list__comment__right_box__info">
          <span>編集</span>
          <span>削除</span>
          <span>投稿日時：<%= l comment.created_at %></span>
        </div>
        <div class="comment_area__list__comment__right_box__text">
          <span><%= comment.comment %></span>
        </div>
      </div>
    </li>
  <% end %>
<% end %>
